resources:

- name: {{ env["deployment"] }}-network
  type: compute.beta.network
  properties:
    autoCreateSubnetworks: true

- name: {{ env["deployment"] }}-firewall-http
  type: compute.beta.firewall
  properties:
    network: $(ref.{{ env["deployment"] }}-network.selfLink)
    sourceRanges: 
    - 130.211.0.0/22
    - 35.191.0.0/16
    allowed:
    - IPProtocol: TCP
      ports: [80]

{#
- name: {{ env["deployment"] }}-firewall-ssh
  type: compute.beta.firewall
  properties:
    network: $(ref.{{ env["deployment"] }}-network.selfLink)
    sourceRanges: 
    - 0.0.0.0/0
    allowed:
    - IPProtocol: TCP
      ports: [22]
#}

- name: {{ env["deployment"] }}-api-instance-template
  type: compute.beta.instanceTemplate
  properties:
    properties:
      machineType: f1-micro
      metadata:
        items:
        - key: topic
          value: $(ref.{{ env["deployment"] }}-topic.name)
        - key: user-data
          value: |
            #cloud-config

            users:
            - name: api
              uid: 2000
            - name: sql_proxy
              uid: 2001

            write_files:
            - path: /etc/systemd/system/api.service
              permissions: 0644
              owner: root
              content: |
                [Unit]
                Description=API
                Wants=gcr-online.target
                After=gcr-online.target

                [Service]
                Environment="HOME=/home/api"
                ExecStartPre=/usr/bin/docker-credential-gcr configure-docker
                ExecStart=/usr/bin/docker run --rm -u 2000 -p 80:8080 --link sql_proxy --name=api gcr.io/{{ env["project"] }}/api
                ExecStop=/usr/bin/docker stop api
                ExecStopPost=/usr/bin/docker rm api

            - path: /etc/systemd/system/sql_proxy.service
              permissions: 0644
              owner: root
              content: |
                [Unit]
                Description=Cloud SQL Proxy
                Wants=gcr-online.target
                After=gcr-online.target

                [Service]
                Environment="HOME=/home/sql_proxy"
                ExecStartPre=/usr/bin/docker-credential-gcr configure-docker
                ExecStart=/usr/bin/docker run --rm -u 2001 -p 127.0.0.1:5432:5432 --name=sql_proxy gcr.io/cloudsql-docker/gce-proxy:1.11 /cloud_sql_proxy -instances=$(ref.{{ env["deployment"] }}-database-instance.connectionName)=tcp:0.0.0.0:5432
                ExecStop=/usr/bin/docker stop sql_proxy
                ExecStopPost=/usr/bin/docker rm sql_proxy

            runcmd:
            - systemctl daemon-reload
            - systemctl start sql_proxy.service
            - systemctl start api.service
      disks:
      - deviceName: boot
        type: PERSISTENT
        boot: true
        autoDelete: true
        initializeParams:
          sourceImage: projects/cos-cloud/global/images/family/cos-stable
      serviceAccounts:
      - email: default
        scopes:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/devstorage.read_only
      networkInterfaces:
      - network: $(ref.{{ env["deployment"] }}-network.selfLink)
        accessConfigs:
          - type: ONE_TO_ONE_NAT

{% for region in properties["regions"] %}

- name: {{ env["deployment"] }}-api-region-instance-group-{{ region }}
  type: compute.beta.regionInstanceGroupManager
  properties:
    region: {{ region }}
    targetSize: 1
    baseInstanceName: {{ env["deployment"] }}-api-instance
    instanceTemplate: $(ref.{{ env["deployment"] }}-api-instance-template.selfLink)

- name: {{ env["deployment"] }}-api-autoscaler-{{ region }}
  type: compute.beta.regionAutoscaler
  properties:
    region: {{ region }}
    target: $(ref.{{ env["deployment"] }}-api-region-instance-group-{{ region }}.selfLink)
    autoscalingPolicy:
      minNumReplicas: 1
      maxNumReplicas: 1

{% endfor %}

- name: {{ env["deployment"] }}-api-health-check
  type: compute.beta.httpHealthCheck
  properties:
    port: 80
    requestPath: /health

- name: {{ env["deployment"] }}-api-backend-service
  type: compute.beta.backendService
  properties:
    port: 80
    timeoutSec: 86400
    backends: 
      {% for region in properties["regions"] %}
      - group: $(ref.{{ env["deployment"] }}-api-region-instance-group-{{ region }}.instanceGroup)
      {% endfor %}
    healthChecks:
      - $(ref.{{ env["deployment"] }}-api-health-check.selfLink)

- name: {{ env["deployment"] }}-api-url-map
  type: compute.beta.urlMap
  properties:
    defaultService: $(ref.{{ env["deployment"] }}-api-backend-service.selfLink)

- name: {{ env["deployment"] }}-api-target-https-proxy
  type: compute.beta.targetHttpsProxy
  properties:
    urlMap: $(ref.{{ env["deployment"] }}-api-url-map.selfLink)
    sslCertificates:
    - $(ref.{{ env["deployment"] }}-api-certificate.selfLink)

- name: {{ env["deployment"] }}-api-global-forwarding-rule
  type: compute.beta.globalForwardingRule
  properties:
    portRange: 443
    target: $(ref.{{ env["deployment"] }}-api-target-https-proxy.selfLink)

- name: {{ env["deployment"] }}-frontend-bucket
  type: storage.v1.bucket
  properties:
    website:
      mainPageSuffix: index.html
      notFoundPage: index.html

- name: {{ env["deployment"] }}-frontend-backend-bucket
  type: compute.beta.backendBucket
  properties:
    bucketName: $(ref.{{ env["deployment"] }}-frontend-bucket.name)
    enableCdn: true

- name: {{ env["deployment"] }}-frontend-url-map
  type: compute.beta.urlMap
  properties:
    defaultService: $(ref.{{ env["deployment"] }}-frontend-backend-bucket.selfLink)  

- name: {{ env["deployment"] }}-frontend-target-https-proxy
  type: compute.beta.targetHttpsProxy
  properties:
    urlMap: $(ref.{{ env["deployment"] }}-frontend-url-map.selfLink)
    sslCertificates:
    - $(ref.{{ env["deployment"] }}-frontend-certificate.selfLink)

- name: {{ env["deployment"] }}-frontend-global-forwarding-rule
  type: compute.beta.globalForwardingRule
  properties:
    portRange: 443
    target: $(ref.{{ env["deployment"] }}-frontend-target-https-proxy.selfLink)

- name: {{ env["deployment"] }}-topic
  type: pubsub.v1.topic
  properties:
    topic: {{ env["deployment"] }}-topic

- name: {{ env["deployment"] }}-database-instance
  type: sqladmin.v1beta4.instance
  properties:
    databaseVersion: POSTGRES_9_6
    settings:
      tier: db-f1-micro

- name: {{ env["deployment"] }}-database
  type: sqladmin.v1beta4.database
  properties:
    name: trackus
    instance: $(ref.{{ env["deployment"] }}-database-instance.name)

- name: {{ env["deployment"] }}-database-user
  type: sqladmin.v1beta4.user
  properties:
    name: trackus
    password: trackus
    instance: $(ref.{{ env["deployment"] }}-database-instance.name)
    host: "%"

- name: {{ env["deployment"] }}-api-certificate
  type: compute.beta.sslCertificate
  properties:
    certificate: |
      -----BEGIN CERTIFICATE-----
      MIIFHTCCBAWgAwIBAgISA+Hdjl2658w3DXcsa8K0Om5OMA0GCSqGSIb3DQEBCwUA
      MEoxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MSMwIQYDVQQD
      ExpMZXQncyBFbmNyeXB0IEF1dGhvcml0eSBYMzAeFw0xODAyMDMwMzA0MDdaFw0x
      ODA1MDQwMzA0MDdaMCgxJjAkBgNVBAMTHWFwaS50cmFja3VzLmdyYWhhbWdpYmJv
      bnMuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA4CQ9/mkeINWS
      mT/mACtrVNC4zao4KvjHncIGpCRh2cziKtL+hL4i1GEu6ZzjsbdLVlKISRaunlHV
      VwD6fbq9dGAqQD5WD9RcixnkTSCt+hertMG/IYEUEmGbFVQR9lZcpIEL4WxQ4UTa
      P5KQK+3UUsV0Cq9AhH9cLDDb3/e6nrnGBvJkM8rXfvPhPE3u0NJbL2oGeW3L7Ksp
      bGCa9+W52Q1/9eSLFjv9XsD7qNGKeIaY/31f4+lmGCXsvRHljn4CJllUG2pHFox4
      2zt9JjmdfpebSnE/xjo2Y5AcBDJwhQYWaRuGP4eaZaW8hU6/+2EWIrttaY+G6AY4
      Y6Y7mxdMkQIDAQABo4ICHTCCAhkwDgYDVR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQG
      CCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMBAf8EAjAAMB0GA1UdDgQWBBS+L9a/
      Py5fQvGnWCOTeqJFQwaeCjAfBgNVHSMEGDAWgBSoSmpjBH3duubRObemRWXv86js
      oTBvBggrBgEFBQcBAQRjMGEwLgYIKwYBBQUHMAGGImh0dHA6Ly9vY3NwLmludC14
      My5sZXRzZW5jcnlwdC5vcmcwLwYIKwYBBQUHMAKGI2h0dHA6Ly9jZXJ0LmludC14
      My5sZXRzZW5jcnlwdC5vcmcvMCgGA1UdEQQhMB+CHWFwaS50cmFja3VzLmdyYWhh
      bWdpYmJvbnMuY29tMIH+BgNVHSAEgfYwgfMwCAYGZ4EMAQIBMIHmBgsrBgEEAYLf
      EwEBATCB1jAmBggrBgEFBQcCARYaaHR0cDovL2Nwcy5sZXRzZW5jcnlwdC5vcmcw
      gasGCCsGAQUFBwICMIGeDIGbVGhpcyBDZXJ0aWZpY2F0ZSBtYXkgb25seSBiZSBy
      ZWxpZWQgdXBvbiBieSBSZWx5aW5nIFBhcnRpZXMgYW5kIG9ubHkgaW4gYWNjb3Jk
      YW5jZSB3aXRoIHRoZSBDZXJ0aWZpY2F0ZSBQb2xpY3kgZm91bmQgYXQgaHR0cHM6
      Ly9sZXRzZW5jcnlwdC5vcmcvcmVwb3NpdG9yeS8wDQYJKoZIhvcNAQELBQADggEB
      AJGxD6nqSzkjVi7EEBrZVNxytOJcNRbHPj94pPGPrqvyrYWzAw433ZRQ+gzfDOUa
      CObZ0fAxiWStgN0Q9rJVrZfqtSTf6hD1iFeCTP2OM8OHr8+f+leKxuU19TX94m65
      ybYfoQaA50W21j8zRWqtOY7uilC6fAacI22j4faqysiih5lwpLB9qgNCXJCCD7cS
      RcvGYN8Qk6bY2oYKiMFKDeWepXB0Ozmuv1z6GsEvKmwc6Gep+M4IXgq3StRxORi8
      7K5mCpQRNPff5KJ/S3NpHSllMWPt+tyfxgTHb5EtSjJ7vUN6bp2l4B4+YzPplYv7
      /2C6eOuN4UZTLgrr2aWolPA=
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      MIIEkjCCA3qgAwIBAgIQCgFBQgAAAVOFc2oLheynCDANBgkqhkiG9w0BAQsFADA/
      MSQwIgYDVQQKExtEaWdpdGFsIFNpZ25hdHVyZSBUcnVzdCBDby4xFzAVBgNVBAMT
      DkRTVCBSb290IENBIFgzMB4XDTE2MDMxNzE2NDA0NloXDTIxMDMxNzE2NDA0Nlow
      SjELMAkGA1UEBhMCVVMxFjAUBgNVBAoTDUxldCdzIEVuY3J5cHQxIzAhBgNVBAMT
      GkxldCdzIEVuY3J5cHQgQXV0aG9yaXR5IFgzMIIBIjANBgkqhkiG9w0BAQEFAAOC
      AQ8AMIIBCgKCAQEAnNMM8FrlLke3cl03g7NoYzDq1zUmGSXhvb418XCSL7e4S0EF
      q6meNQhY7LEqxGiHC6PjdeTm86dicbp5gWAf15Gan/PQeGdxyGkOlZHP/uaZ6WA8
      SMx+yk13EiSdRxta67nsHjcAHJyse6cF6s5K671B5TaYucv9bTyWaN8jKkKQDIZ0
      Z8h/pZq4UmEUEz9l6YKHy9v6Dlb2honzhT+Xhq+w3Brvaw2VFn3EK6BlspkENnWA
      a6xK8xuQSXgvopZPKiAlKQTGdMDQMc2PMTiVFrqoM7hD8bEfwzB/onkxEz0tNvjj
      /PIzark5McWvxI0NHWQWM6r6hCm21AvA2H3DkwIDAQABo4IBfTCCAXkwEgYDVR0T
      AQH/BAgwBgEB/wIBADAOBgNVHQ8BAf8EBAMCAYYwfwYIKwYBBQUHAQEEczBxMDIG
      CCsGAQUFBzABhiZodHRwOi8vaXNyZy50cnVzdGlkLm9jc3AuaWRlbnRydXN0LmNv
      bTA7BggrBgEFBQcwAoYvaHR0cDovL2FwcHMuaWRlbnRydXN0LmNvbS9yb290cy9k
      c3Ryb290Y2F4My5wN2MwHwYDVR0jBBgwFoAUxKexpHsscfrb4UuQdf/EFWCFiRAw
      VAYDVR0gBE0wSzAIBgZngQwBAgEwPwYLKwYBBAGC3xMBAQEwMDAuBggrBgEFBQcC
      ARYiaHR0cDovL2Nwcy5yb290LXgxLmxldHNlbmNyeXB0Lm9yZzA8BgNVHR8ENTAz
      MDGgL6AthitodHRwOi8vY3JsLmlkZW50cnVzdC5jb20vRFNUUk9PVENBWDNDUkwu
      Y3JsMB0GA1UdDgQWBBSoSmpjBH3duubRObemRWXv86jsoTANBgkqhkiG9w0BAQsF
      AAOCAQEA3TPXEfNjWDjdGBX7CVW+dla5cEilaUcne8IkCJLxWh9KEik3JHRRHGJo
      uM2VcGfl96S8TihRzZvoroed6ti6WqEBmtzw3Wodatg+VyOeph4EYpr/1wXKtx8/
      wApIvJSwtmVi4MFU5aMqrSDE6ea73Mj2tcMyo5jMd6jmeWUHK8so/joWUoHOUgwu
      X4Po1QYz+3dszkDqMp4fklxBwXRsW10KXzPMTZ+sOPAveyxindmjkW8lGy+QsRlG
      PfZ+G6Z6h7mjem0Y+iWlkYcV4PIWL1iwBi8saCbGS5jN2p8M+X+Q7UNKEkROb3N6
      KOqkqm57TH2H3eDJAkSnh6/DNFu0Qg==
      -----END CERTIFICATE-----
    privateKey: |
      -----BEGIN PRIVATE KEY-----
      MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQDgJD3+aR4g1ZKZ
      P+YAK2tU0LjNqjgq+MedwgakJGHZzOIq0v6EviLUYS7pnOOxt0tWUohJFq6eUdVX
      APp9ur10YCpAPlYP1FyLGeRNIK36F6u0wb8hgRQSYZsVVBH2VlykgQvhbFDhRNo/
      kpAr7dRSxXQKr0CEf1wsMNvf97qeucYG8mQzytd+8+E8Te7Q0lsvagZ5bcvsqyls
      YJr35bnZDX/15IsWO/1ewPuo0Yp4hpj/fV/j6WYYJey9EeWOfgImWVQbakcWjHjb
      O30mOZ1+l5tKcT/GOjZjkBwEMnCFBhZpG4Y/h5plpbyFTr/7YRYiu21pj4boBjhj
      pjubF0yRAgMBAAECggEAPtqq7872feqmQ4dhriZ+4LfvOu1C9vnwsFKanij9r5/+
      xFeKvBq9laTzDNvMFif6XmiigyxzJz53fwBtPhjBzAKzlnRkmefJU9Cc7uv9HabJ
      pdS3DmQuBsGMRbzflJ6/N/pgJITFYYZ3VWB6QXdeFR/93IkspHs6k8HXxsSndp7H
      aRQ4ZbFoYEco8EzBNAc4+J2zQmUjRfznEn61RziAK7CaPSP1uyoe/7rboMDSg6G4
      aLHEOdkx0JMJs/fpab5MmBUFBlo9veFS/0YJzYA3WChl3F5Qc8l93feWno38KDW8
      Aq4FpS5fRjuI5pLAf/Zc3YkOIL0kqfH6E0/Us5cpCQKBgQD6VD6a6E5JTKomXuLZ
      jq95Zd/x0cRMYuhyJoO40MHFsSOfgYsJdFoyQ5adJdC+I5TemRyl2q8vwlDoSic3
      nbDBbE/o/Bpi1ltUdOwV5wn8t5VTpWTmZg54XOC2EDtbxoriI5nnpjc6TRHWqrzs
      GJU0j+1iCt1qVNsG6TB0Z5786wKBgQDlOCBHMVRMM6/8HoCKrL+Mn5Li0CoEqZn4
      gAlLYPrJONA/Q3tCg+EmfKzmP4V5jiLmPqz+L3yFtb146j5u9JEZhfHyBrjytUUp
      LuIm0IAaILEgC7xMMl7swP0P5LCWO1k9kh6E5VBsvFoS5qM5kBHhWhyyOQMbcgHS
      YFRKe4tNcwKBgEiWvUC2NF1U+dH+mdF0arXNMM8ygLWVyMmxGWkyP75Py4CpU+P9
      9Vm196rCGHHKZ5TU2VXOwBYdRtDVD+I0u9iay+FHmW8nsXwgG4WOZXr+0TJcN5IH
      7hJA/HhO5KeMPyGsKSjfLgyd5JpXEEl2J24Cfld7xxDaYljyrbZTherZAoGAPQEd
      BhWI2+b9tVng2Ad1y1VE4HyKUkdZJRveXWNoG1m1gsDQ8zjqGTYhRf4t5dYAT8rq
      e5Pjzio6TQ36o8kPPP27ELDdVCsORxGlOrNPBKUivuagrJ7TSKtsLmis3q7Y51wW
      J0RojSfryQ/87Pr85z72WDB4NTu4ZGcix9ftkSUCgYB1vHkqcLHxRcpvX+gS4Ibh
      q00yOpYrHA+Bc9OA7XDhJ7OMBqNcowRkh1C3qDcjVT4jqAjbVBBXtANnOxuzmpDq
      2XpbEL3UZVTCxauP1UgcmFJDhJrAd/C+7Sfo/1s/Zn6mlzJHzWowvXNhtTVo8RMO
      fjt5jUGHZk8GbeNUUJ3Jfg==
      -----END PRIVATE KEY-----

- name: {{ env["deployment"] }}-frontend-certificate
  type: compute.beta.sslCertificate
  properties:
    certificate: |
      -----BEGIN CERTIFICATE-----
      MIIFFTCCA/2gAwIBAgISA//7qtz1A2c/jf9AZFMksE8pMA0GCSqGSIb3DQEBCwUA
      MEoxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MSMwIQYDVQQD
      ExpMZXQncyBFbmNyeXB0IEF1dGhvcml0eSBYMzAeFw0xODAxMzEwMTMxNTRaFw0x
      ODA1MDEwMTMxNTRaMCQxIjAgBgNVBAMTGXRyYWNrdXMuZ3JhaGFtZ2liYm9ucy5j
      b20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCmrNa08Lbpl4F7zE2q
      TA6yac2J6zwazkB7m2FwkxK0BUNgoey4J8nGL7j3OgKhxK+9FGrGwPo/ISxf6A5o
      RcykPcRUM/qO79CisI1KUDUW4jg+mLGyQT3UiJ/lcFUoV8inxqkYoCMBJGNuKrYB
      bCDC+1Hb0TusELm+8b0ySh4TIuebnbCxIu9/bm20QlwWv0dOfZqHXvCtsqxujjVo
      DXa3Eet65t6bQVFdwFLg5DhRNghoWpThOwb7IdKd+qXRvIXvmtI7D82OKdaKcX+t
      P+90S0vBrSs5xhm+gR4Xpy44+xE+yDLZWaGMO50dm7A1huW5Wie0rTKRxP6a2yOn
      n6bnAgMBAAGjggIZMIICFTAOBgNVHQ8BAf8EBAMCBaAwHQYDVR0lBBYwFAYIKwYB
      BQUHAwEGCCsGAQUFBwMCMAwGA1UdEwEB/wQCMAAwHQYDVR0OBBYEFL7yFWoOFipp
      SJjfyBJUjaza0pchMB8GA1UdIwQYMBaAFKhKamMEfd265tE5t6ZFZe/zqOyhMG8G
      CCsGAQUFBwEBBGMwYTAuBggrBgEFBQcwAYYiaHR0cDovL29jc3AuaW50LXgzLmxl
      dHNlbmNyeXB0Lm9yZzAvBggrBgEFBQcwAoYjaHR0cDovL2NlcnQuaW50LXgzLmxl
      dHNlbmNyeXB0Lm9yZy8wJAYDVR0RBB0wG4IZdHJhY2t1cy5ncmFoYW1naWJib25z
      LmNvbTCB/gYDVR0gBIH2MIHzMAgGBmeBDAECATCB5gYLKwYBBAGC3xMBAQEwgdYw
      JgYIKwYBBQUHAgEWGmh0dHA6Ly9jcHMubGV0c2VuY3J5cHQub3JnMIGrBggrBgEF
      BQcCAjCBngyBm1RoaXMgQ2VydGlmaWNhdGUgbWF5IG9ubHkgYmUgcmVsaWVkIHVw
      b24gYnkgUmVseWluZyBQYXJ0aWVzIGFuZCBvbmx5IGluIGFjY29yZGFuY2Ugd2l0
      aCB0aGUgQ2VydGlmaWNhdGUgUG9saWN5IGZvdW5kIGF0IGh0dHBzOi8vbGV0c2Vu
      Y3J5cHQub3JnL3JlcG9zaXRvcnkvMA0GCSqGSIb3DQEBCwUAA4IBAQAlWkGRxfEE
      JrrlPz/rkhI4xGA/72ciHHLq1wFQd1Pu4vyOpIcYIlKPuA5yp5OkvgCMRmM0QPNK
      tMM87JeYmXtlmypPMyhKiCFMr2cPFHkBURnnLAr3F+QGokkUXJHC4OME8hNcKaDh
      xDMKVyrWWvpaJCX6DgIREQ9g2yHcixv2HigN+nHEXXGzIWJzJ3LMbDP7KeIBVG9B
      orZBdCGXawNpIBKdT6RfrSvXewGS5r3SgBf701SnldeAQ/y13ZmLR4zHWlDndteB
      /XfY21cwDGqkIRJfM1G3LUzcqv2fjxkcuj1gNpJB8BCWN8wQlk01T94CICzCpM18
      jeyd7lQeMvAc
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      MIIEkjCCA3qgAwIBAgIQCgFBQgAAAVOFc2oLheynCDANBgkqhkiG9w0BAQsFADA/
      MSQwIgYDVQQKExtEaWdpdGFsIFNpZ25hdHVyZSBUcnVzdCBDby4xFzAVBgNVBAMT
      DkRTVCBSb290IENBIFgzMB4XDTE2MDMxNzE2NDA0NloXDTIxMDMxNzE2NDA0Nlow
      SjELMAkGA1UEBhMCVVMxFjAUBgNVBAoTDUxldCdzIEVuY3J5cHQxIzAhBgNVBAMT
      GkxldCdzIEVuY3J5cHQgQXV0aG9yaXR5IFgzMIIBIjANBgkqhkiG9w0BAQEFAAOC
      AQ8AMIIBCgKCAQEAnNMM8FrlLke3cl03g7NoYzDq1zUmGSXhvb418XCSL7e4S0EF
      q6meNQhY7LEqxGiHC6PjdeTm86dicbp5gWAf15Gan/PQeGdxyGkOlZHP/uaZ6WA8
      SMx+yk13EiSdRxta67nsHjcAHJyse6cF6s5K671B5TaYucv9bTyWaN8jKkKQDIZ0
      Z8h/pZq4UmEUEz9l6YKHy9v6Dlb2honzhT+Xhq+w3Brvaw2VFn3EK6BlspkENnWA
      a6xK8xuQSXgvopZPKiAlKQTGdMDQMc2PMTiVFrqoM7hD8bEfwzB/onkxEz0tNvjj
      /PIzark5McWvxI0NHWQWM6r6hCm21AvA2H3DkwIDAQABo4IBfTCCAXkwEgYDVR0T
      AQH/BAgwBgEB/wIBADAOBgNVHQ8BAf8EBAMCAYYwfwYIKwYBBQUHAQEEczBxMDIG
      CCsGAQUFBzABhiZodHRwOi8vaXNyZy50cnVzdGlkLm9jc3AuaWRlbnRydXN0LmNv
      bTA7BggrBgEFBQcwAoYvaHR0cDovL2FwcHMuaWRlbnRydXN0LmNvbS9yb290cy9k
      c3Ryb290Y2F4My5wN2MwHwYDVR0jBBgwFoAUxKexpHsscfrb4UuQdf/EFWCFiRAw
      VAYDVR0gBE0wSzAIBgZngQwBAgEwPwYLKwYBBAGC3xMBAQEwMDAuBggrBgEFBQcC
      ARYiaHR0cDovL2Nwcy5yb290LXgxLmxldHNlbmNyeXB0Lm9yZzA8BgNVHR8ENTAz
      MDGgL6AthitodHRwOi8vY3JsLmlkZW50cnVzdC5jb20vRFNUUk9PVENBWDNDUkwu
      Y3JsMB0GA1UdDgQWBBSoSmpjBH3duubRObemRWXv86jsoTANBgkqhkiG9w0BAQsF
      AAOCAQEA3TPXEfNjWDjdGBX7CVW+dla5cEilaUcne8IkCJLxWh9KEik3JHRRHGJo
      uM2VcGfl96S8TihRzZvoroed6ti6WqEBmtzw3Wodatg+VyOeph4EYpr/1wXKtx8/
      wApIvJSwtmVi4MFU5aMqrSDE6ea73Mj2tcMyo5jMd6jmeWUHK8so/joWUoHOUgwu
      X4Po1QYz+3dszkDqMp4fklxBwXRsW10KXzPMTZ+sOPAveyxindmjkW8lGy+QsRlG
      PfZ+G6Z6h7mjem0Y+iWlkYcV4PIWL1iwBi8saCbGS5jN2p8M+X+Q7UNKEkROb3N6
      KOqkqm57TH2H3eDJAkSnh6/DNFu0Qg==
      -----END CERTIFICATE-----
    privateKey: |
      -----BEGIN PRIVATE KEY-----
      MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQCmrNa08Lbpl4F7
      zE2qTA6yac2J6zwazkB7m2FwkxK0BUNgoey4J8nGL7j3OgKhxK+9FGrGwPo/ISxf
      6A5oRcykPcRUM/qO79CisI1KUDUW4jg+mLGyQT3UiJ/lcFUoV8inxqkYoCMBJGNu
      KrYBbCDC+1Hb0TusELm+8b0ySh4TIuebnbCxIu9/bm20QlwWv0dOfZqHXvCtsqxu
      jjVoDXa3Eet65t6bQVFdwFLg5DhRNghoWpThOwb7IdKd+qXRvIXvmtI7D82OKdaK
      cX+tP+90S0vBrSs5xhm+gR4Xpy44+xE+yDLZWaGMO50dm7A1huW5Wie0rTKRxP6a
      2yOnn6bnAgMBAAECggEAV4ubLujsul8o1NSnypYudgnauuGC7XV+Ky6fDJlDjqjh
      DgWfJ89GTUHNvpWKwltkD0WFHCZKixQqkal6v8xBw9bpo2y145QVGw7u96SPbhie
      gEqFs2JPTq4AhmvtXsZVD8LqGJQsLrJlQ31NogugXanSAkqxNByI48Fnpd2GVHf8
      au3tukU0OEBKxL8s2OvyDTZvehBX6Mwg7+AKZ2lXlSncP93QMeXj6uByQnoN+eXL
      nsib7xzFD73IKsa6PJCoG+eyBRlqIb6KFhWYS63fmRSU6PuRr3AgwBx6HyCM/CGB
      XtkqXhxvHuqcWfcGKqyjAyx99xb5pZS71pvSVoOoaQKBgQDeJK/tkPZAgOBmwd9c
      i3GS5zUQ1sL/cmznPWY8z0DG68biK/yc1tqSvQtFD1VR+1iyhLo3aZGsNUzCkn/Q
      VIpQScovFdOsNSHEBt7txyOAuV1DOq+yOqT6D+Xc1ipKnL9vtNabx6wOUiI89cls
      ffxRQwEshJru4clpxc0rgnxy4wKBgQDAE/aoxnqPG+ltJO2f9QU7gDNjwCdRNgHG
      25wae8DCClywPwHRBq+JzD9dPNkMsfrGOBP5P/+mo96CGamp91kKPAMHuxt1Uu2k
      k8W/bOsUTEhPTMr8b6S5vEQunU5c8/KHtTjwIZReqREiL+cG/zwBDLmjLOGhDa1h
      HvrR2ZvHLQKBgEnleGSVyWURuhRUv+HAPUq6AOwWFQ322YVe5miqJQlHG4TXTxQ5
      YMJZgqs5e49nBk10W6HdS2k23c8H/t6lkNE+irR5FU3+6rmT84qzqPrELuMTXajz
      WzgYG8YHtE/XrtMRHCb8GB83cU5IEPY3Pr0lhflyLzvx/hdihmrH4HAzAoGAX25L
      waUDJXEXs7uCOFPzKpHSdn/0yNuNXHCmCV5s8btWO9bCH0k0E8GfxcJCkJUo5Cze
      d5r9eJy4I2l+q0ySN4yDcObciJkQKxGkUSxbS7Vuw7+CppMNg55vPb24PmSRni1C
      wcPdRH65XYPxQ7+x30+kN9dHrs3t03Ah6/sy820CgYAmaVqWmBiBr8qTCEIupZyB
      VVM9ZL3U5TJQjscKfitPTn+fzyahJdk1GHLAMG3rOmZtlcTq+T0X1jrwcHH+XJcm
      viR3t+rSBnJyteKQ75hDBQH0umekDF/Mn1aWKe16I0znErqHtV3y73u8sPyZU8ka
      5SmGwfStgqTxDWYYVbZkfg==
      -----END PRIVATE KEY-----
